<h1>Artists
<%= link_to "Add artist", new_artist_path, class: "btn btn-default" %></h1>

<% @artists.each do |artist| %>
  <h2><%= image_tag artist.image.thumb %>
  <%= link_to artist.name, artist %></h2>
<% end %>
