<h1>Songs index</h1>

<% @songs.each do |song| %>
  <h2><%= link_to song.title, song %></h2>
  <p><%= song.artist.name %></p>
<% end %>

<br />
<p><small><%= link_to "Go to artists index", root_path %></small></p>
